<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>webkakeibo</title>
    <link rel="stylesheet" type="text/css" href="../css/webkakeibo.css">
    <script type="text/javascript">
        var dateBefore = "";
        // 選択されたとき、dateの値を取得する関数
        // dateが空なら何もしない
        function getDate(obj) {
            if (obj.value === ""){
                if (dateBefore !== ""){
                    obj.value = dateBefore;
                }
            }
        }
        // 値が変わったとき、dateの値を保存する関数
        function setDate(obj){
            dateBefore = obj.value;
        }
    </script>
</head>
<body>
<div class="container">
    <nav class="header">
        <ul id="control">
            <form action="/user/doinput" method="post" id="input_post">
                <input class="inputbutton_circle" type="submit" value="登録">
            </form>
        </ul>
        <ul class="tile" id="move">
            <li><a href="/user/list">一覧</a></li>
            <li><a href="/user/input">入力</a></li>
            <li><a href="/user/summary">まとめ</a></li>
            <li><a href="/user/setting">設定</a></li>
            <li><a href="/dologout">ログアウト</a></li>
        </ul>
    </nav>
    <main class="contents_input">
      {{if eq .HasAnyError true}}
      <h3>入力値に誤りがあります</h3>
      {{end}}
        <table class="kakeibo_inputlist">
            <tr>
                <th>日付</th>
                <th>費目</th>
                <th>詳細</th>
                <th>金額</th>
                <th></th>
            </tr>
            {{$line := .Lines}}
            {{$category := .CategoryList}}
            {{$categoryIndex := .Category}}
            {{range $i:= $line}}
            <tr>
                <td><input form="input_post" id="input_date" type="date" name="Date" value="{{index $.Date $i}}" onclick="getDate(this)" onchange="setDate(this)"></td>
                <td>
                    <select form="input_post" id="input_category" name="Category">
                        {{range $j, $c := $category}}
                        {{if eq (index $categoryIndex $i) $j}}
                          <option value={{$j}} selected>{{$c}}</option>
                        {{else}}
                          <option value={{$j}}>{{$c}}</option>
                        {{end}}
                        {{end}}
                    </select>
                </td>
                <td><input form="input_post" id="input_detail" type="text" name="Detail" value={{index $.Detail $i}}></td>
                <td><input form="input_post" id="input_price" type="number" name="Price" value={{index $.Price $i}}></td>
                <td>{{if eq (index $.HasError $i) true}}・{{end}}</td>
            </tr>
            {{end}}
        </table>
    </main>
</div>
</body>
</html>

